*{
  font-family: 'PT Sans', sans-serif;
}

.App {
  text-align: center;
}

h1{
  transition: all 1s;
  font-size: 70px;
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1:hover{
  -webkit-box-shadow: 3px 20px 12px 4px rgba(0,0,0,0.21);
  -moz-box-shadow: 3px 20px 12px 4px rgba(0,0,0,0.21);
  box-shadow: 3px 20px 12px 4px rgba(0,0,0,0.21);
}

.SearchElement{
  font-family: 'Merriweather', serif;
  text-decoration: 5px underline #fff;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input{
  text-align: center;
}

input::placeholder{
  color: #000;
  text-align: center;
  background-color: #fff;
}
input:focus{
  background-color: rgb(71, 71, 71);
  color: #fff;
}

.Content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img{
  width: 400px;
}

.container-s{
  display: flex;
  margin-top: 15px;
}

.container-s p{
  position: absolute;
  font-size: 15px;
  margin-top: 45px;
  margin-left: 4px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.Busqueda-Pasada{
  width: 120px;
  opacity: 0.3;
}

.container-Gif__Gif{
  border: 5px solid rgba(0, 0, 0, 0.089);
  border-radius: 10%;
  max-width: 200px;
}

.container-Gif{
  background-color: rgba(109, 106, 112, 0.349);
  padding: 20px 20px;
  border: 2px solid rgba(0, 0, 0, 0.281);
  border-radius: 2px;
  margin: 10px auto;
  text-decoration: 8px underline rgba(255, 255, 255, 0.185);
}

/*Header*/
.Header{
  display: flex;
  cursor: pointer;
}

/*Footer*/
.Footer{
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  display: flexbox;
  background-color: #555555;
  opacity: 0.7;
}

.Footer:hover{
  opacity: 	1;
}

.Footer a img{
  width: 23px;
}

.Footer a{
  text-decoration: none;
  color: #fff;
  border-right: 2px solid #000;

  padding: 0px 10px;
  font-size: 20px;
}

.Footer p{
  margin: 0%;
  font-size: 15px;
}

/*

*/

form{
  padding: 20px;
  display: flex;
}

button{
  opacity: .8;
}

button:hover{
  opacity: 1;
}

button>img{
  cursor: pointer;
  width: 20px;
}