.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

img{
  width: 400px;
}

.container-s{
  display: flex;
  margin-top: 15px;
}

.container-s p{
  position: absolute;
  font-size: 15px;
  margin-top: 45px;
  margin-left: 4px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.Busqueda-Pasada{
  width: 120px;
  opacity: 0.3;
}

.container-Gif__Gif{
  border: 5px solid rgba(0, 0, 0, 0.089);
  border-radius: 10%;
  width: 15em;
}

.container-Gif{
  background-color: rgba(109, 106, 112, 0.349);
  padding: 20px 20px;
  border: 2px solid rgba(0, 0, 0, 0.281);
  border-radius: 2px;
  margin: 10px auto;
  text-decoration: underline rgb(55, 54, 54);
}

/*Header*/
.Header{
  display: flex;
  cursor: pointer;
}

/*Footer*/
.Footer{
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  display: flexbox;
  background-color: #555555;
}
.Footer a img{
  width: 23px;
}